body {
padding: 100px;
text-align: center;
}
img {
    max-height: 250px;
    margin: auto;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
}
.title {
    font-size: 48px;
}
.red {
    color: red;
}